<?xml version="1.0"?> 
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <runtime>         
    <loadFromRemoteSources enabled="true"/>
  </runtime> 
  <system.diagnostics>
    <assert assertuienabled="false"/>
    <sources>
      <!-- This removes Binding error messages coming from AdWindows components -->
      <source name="System.Windows.Data" switchName="SourceSwitch">
        <listeners>
          <remove name="Default" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <trace autoflush="true" indentsize="4"></trace>
  </system.diagnostics>
</configuration>
 
